{% extends 'roles/geerlingguy.nginx/templates/vhost.j2' %}

{% block server_redirect %}
# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    ~image/                    max;
    ~video/                    max;
}

{% if item.server_name_redirect is defined %}
server {
    server_name  {{ item.server_name_redirect }};
    return       301 $scheme://{{ item.server_name.split(' ')[0] }}$request_uri;
}
{% endif %}
{% endblock %}

{% block server_begin %}
expires $expires;

location ~* \.(woff|woff2|ttf)$ {
    expires max;
    add_header Cache-Control "public, no-transform";
}
{% endblock %}

